<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] – Brilliance</title>
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="icon" type="image/svg" href="~/icon.svg"/>
</head>
<body class="dark">

    <nav class="nav">
        <div class="container">
            <div class="nav-row">
                <a href="/" class="logo">
                    <strong>Brilliance</strong> hub
                </a>
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a href="/" class="nav-list__link @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "nav-list__link--active" : "")">
                            Home
                        </a>
                    </li>
                    <li class="nav-list__item">
                        <a asp-area="" asp-controller="Post" asp-action="Posts" class="nav-list__link @(ViewContext.RouteData.Values["action"].ToString() == "Posts" ? "nav-list__link--active" : "")">
                            Posts
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-list__item">
                            <a asp-area="" asp-controller="Post" asp-action="Add" class="nav-list__link @(ViewContext.RouteData.Values["action"].ToString() == "Add" ? "nav-list__link--active" : "")">
                                Add post
                            </a>
                        </li>
                    }
                    @if(User.IsInRole("2"))
                    {
                        <li class="nav-list__item">
                            <a asp-area="" asp-controller="Admin" asp-action="Panel" class="nav-list__link @(ViewContext.RouteData.Values["action"].ToString() == "Panel" ? "nav-list__link--active" : "")">
                                Panel
                            </a>
                        </li>
                    }
                    <li class="nav-list__item">
                        <a asp-area="" asp-controller="Account" asp-action="@(User.Identity.IsAuthenticated ? "SignOut" : "SignIn")" class="nav-list__link @(ViewContext.RouteData.Values["action"].ToString() == "SignIn" ? "nav-list__link--active" : "")">
                            @(User.Identity.IsAuthenticated ? "Sign out" : "Sign in")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!--

    ┻┳|
    ┳┻| _
    ┻┳| •.•). i'm watching.....
    ┳┻|⊂ﾉ
    ┻┳

    -->

    <div class="app">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <ul class="social">
                    <li class="social__item"><a href="https://vk.com/" target="_blank" rel="noreferrer"><img src="~/img/icons/vk.svg" alt="Link" /></a></li>
                    <li class="social__item"><a href="https://t.me/" target="_blank" rel="noreferrer"><img src="~/img/icons/telegram.svg" alt="Link" /></a></li>
                    <li class="social__item"><a href="https://discord.com/" target="_blank" rel="noreferrer"><img src="~/img/icons/discord.svg" alt="Link" /></a></li>
                </ul>
                <div class="copyright">
                    <p>&copy; 2023 Brilliance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
